.af-banner-web{
    min-height: 1072px;
    /* background-color: #F5F9FA; */
    padding-top: 100px;
    background:url('../images/banner-bg2.svg')no-repeat center center /contain, url('../images/banner-bg1.svg') no-repeat center center /cover;
}
.banner-inner h1{
    color: #16488F;
    font-size: 43px;
    font-weight: bold;
    line-height: 1.6;
}
.banner-inner h2{
    color: #F52200;
    padding-top: 5px;
    font-size: 47px;
    font-weight: bold;
}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* banner form css start */
.qualified-form{
    max-width: 399px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px #00000030;
    border-radius: 9px;
    padding: 17px 30px 11px;
    position: relative;
}
.qualified-form h3{
    background-color: #004990;
    max-width: 224px;
    width: 100%;
    margin: 0 auto;
    padding: 6px 0;
    border-radius: 5px;
    font-size: 14px;
    font-family:"Poppins-Regular";
    color: white;
    text-align: center;
}
.qualified-form h4{
    font-size: 14px;
    color: #191919;
    font-family:"Poppins-Regular";
    text-align: center;
    margin: 8px 0;
}
.qualified-form small{
    font-size: 11px;
    color: #555555;
    text-align: center;
    font-family:"Poppins-Regular";
    display: block;
}
.qualified-form form{
    padding-top: 20px;
}
.qualified-form form p{
    font-size: 13px;
    font-family:"Poppins-Regular";
    color: #000000;
    text-align: center;
    padding-top: 7px;
}
.qualified-form form button{
    background: none;
    border: 1px solid #FF0000;
    border-radius: 5px;
    opacity: 1;
    width: 100%;
    padding: 12px 0;
    color: #FF0000;
    font-size: 16px;
    font-family:"Poppins-Regular";
}
.qualified-form .family_join_btn{
    max-width: 336px;
    width: 100%;
    margin: 0 auto;
    background: #FF0000;
    color: white;
    font-size: 14px;
    font-family:"Poppins-Regular";
    padding: 4px;
    border-radius: 0px 0px 5px 5px;
    display: inline-block;
    position: absolute;
    bottom: -6.5%;
    text-align: center;
}
.qualified-form .form-group{
    position: relative;
}
.qualified-form form input,.qualified-form form select{
    height: 46px;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
}
.qualified-form form input + label{
    position: absolute;
    top: -20%;
    left: 20px;
    color: #676464;
    /* color: #D2D2D2; */
    font-size: 13px;
    font-family:"Poppins-Regular";
    background: #fff;
    transition: 0.3s all ease;
    margin: 0;
    cursor: text;
}
.qualified-form form input:placeholder-shown + label{
    top: 50%;
    transform: translateY(-50%);
    color: #D2D2D2;
}
.qualified-form form input::placeholder{
    opacity: 0;
}
.qualified-form form input:not(:placeholder-shown) + label,
.qualified-form form input:focus + label {
    top: -20%;
    transform: none;
    color: #676464;
}
#selectPetType{
    height: 46px;
    padding-right: 10px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.typeslct-row{
    position: relative;
}
.typeslct-row::before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0 6px;
    border-color: #000499 transparent transparent transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    pointer-events: none;
}
#selectPetType + label{
    position: absolute;
    top: -10px;
    left: 20px;
    color: #676464;
    font-size: 13px;
    font-family:"Poppins-Regular";
    background: #fff;
}
/* banner form css end */
.banner-img{
    max-width: 600px;
    width: 100%;
}
.banner-img img{
    width: 100%;
}

/* media query */
@media(max-width:1199px){
        .af-banner-web{
            padding-top: 40px;
            min-height: 889px;
        }
        .banner-inner h1 {
            font-size: 38px;
            line-height: 1.4;
        }
        .banner-inner h2 {
            padding-top: 0;
            font-size: 37px;
        }
        .banner-img {
            max-width: 420px;
        }
        .qualified-form{
            margin-top: 15px;
        }
}
@media (max-width:991px){
    .banner-inner h1 {
        font-size: 32px;
    }
    .banner-inner h2 {
        font-size: 26px;
    }
    .banner-img {
        max-width: 280px;
    }
}
@media (max-width:767px){
    .banner-img {
        max-width: 280px;
        position: absolute;
        top: 34px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .af-banner-web {
        padding-top: 280px;
        position: relative;
        text-align: center;
        /* background-color: #F5F9FA; */
        background:url('../images/banner-bg2.svg')no-repeat center center /cover,#F5F9FA;
    }
    .banner-inner h2,.banner-inner h1 {
        font-size: 18px;
    }
    .qualified-form {
        margin: 24px auto;
    }
    .qualified-form .family_join_btn
    {
        left: 0;
        right: 0;
    }
    .qualified-form form input{
        height: 31px;
    }
    #selectPetType{
        height: 35px;
    }
}
@media (max-width:375px){
    .banner-inner h2, .banner-inner h1{
        font-size: 14px;
    }
}