.af-footer{
    background: url("../images/footer-bg.svg")no-repeat center center /cover;
    min-height: 547px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}
.footer-contact{
    border-bottom: 2px solid white;
}
.footer-contact h4{
    color: #EFC319;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}
.af-footer-left a{
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-right: 25px;
}
.af-footer-left a i{
    padding-right: 10px;
}
.af-footer-right{
    text-align: right;
}
.social-icons ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.certificates{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 843px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
.certificates{
    object-fit: contain;
}
.copyright-txt{
    color: white;
    font-size: 18px;
    text-align: left;
    margin: 0;
}
.footer-bottom{
    background-color: #2A66BC;
    padding: 20px 0 15px;
}
.footer-btm-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
}
.footer-btm-links li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
}
/* ul.certificates img {
    width: 69px;
} */
/*media query */
@media (max-width:991px){
    .af-footer{
        padding-top: 100px;
    }
    .af-footer-left a{
        font-size: 13px;
    }
    .footer-btm-links li a{
        font-size: 14px;
    }
}
@media (max-width:767px){
    .af-footer::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100px;
        background-color: #16488f;
        bottom: 0;
        z-index: -1;
    }
    .af-footer {
        background-size: 100%;
        min-height: unset;
    }
    .af-footer .container > .row{
        flex-direction: column-reverse;
    }
    .certificates{
        padding-bottom: 30px;
        border-bottom: 2px solid white;
    }
    .certificates img{
        width: 80%;
    }
    .footer-contact h4{
        display: none;
    }
    .footer-contact{
        padding-top: 20px;
        border: none;
    }
    .af-footer-left a{
        display: block;
        margin-bottom: 10px;
    }
    .copyright-txt {
        font-size: 14px;
    }
    .footer-btm-links li a {
        font-size: 11px;
        padding-left: 8px;
    }
}
@media (max-width:575px){
    .af-footer-left a {
        font-size: 10px;
    }
    .copyright-txt {
        font-size: 9px;
    }
    .footer-btm-links li a {
        font-size: 8px;
        padding-left: 2px;
    }
    .certificates img {
        width: 75%;
    }
}
@media (max-width:375px){
    .af-footer-left a {
        font-size: 8px;
    }
    .footer-bottom .col-6{
        flex: 0 0 100%;
        display: block;
        max-width: 100%;
    }
    .copyright-txt{
        text-align: center;
    }
    .footer-btm-links{
        justify-content: center;
    }
}