.benefits-inner h3,.requirements-inner h3,.legal-prc-inner h3,.pricing h3,.testmonial h3,.faq_section h3,.sample-section h3{
    color: #16488F;
    font-size: 40px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 40px;
    font-weight: 500;
}
.back-paws{
    background: url("../images/pink-paw.svg")center center no-repeat;
    background-size: contain;
}
.backpaw1,.backpaw2,.backpaw3,.backpaw4,.backpaw5,.backpaw6,.backpaw7,.backpaw8,.backpaw9,.backpaw10,.backpaw11,.backpaw12,.backpaw13,.backpaw14,.backpaw15,.backpaw16{
    position: absolute;
}
.call-to-action{
    display: inline-block;
    color: #fff;
    background-color: #F52200;
    border-radius: 50px;
    max-width: 205px;
    width: 100%;
    font-size: 21px;
    line-height: 23px;
    text-align: center;
    padding: 12px 0;
    border: 1px solid transparent;
    transition: 0.3s all ease;
}
.call-to-action:hover{
    background-color:#16488F;
    border-color: white;
    color: white;
}
/* letter apply section css start */
.letter-apply{
    background: url("../images/letter-apply-bg.svg") no-repeat  center center /cover;
    min-height: 1047px;
    margin-top: 120px;
    padding-top: 273px;
}
.letter-apply-col{
    background-color:#fff;
    box-shadow: 0px 0px 15px #DFCFC1A6;
    border-radius: 60px;
    padding: 71px 0px;
    min-height: 694px;
    position: relative;
    box-sizing: border-box;
    max-width: 522px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.apply-col-content h3{
    font-size: 29px;
    color: #F52200;
    font-weight: 500;
    text-align: center;
    box-shadow: 0px 0px 15px #0000000F;
    padding: 10px 0;
    width: 100%;
}
.apply-col-content p{
    font-size: 17px;
    color: #16488F;
    font-weight: normal;
    text-align: center;
    line-height: 37px;
    padding: 40px 46px;
}
.apply-col-img {
    position: relative;
    top: -348px;
}
.apply-col-content {
    margin-top: -257px;
    min-height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* letter apply section css end */

/* change life css start */
.change-life{
    background: url("../images/change-life-bg.svg")no-repeat center center /cover;
    min-height: 360px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.change-life-inner{
    padding-top: 80px;
}
.change-life-inner h3{
    font-size: 31px;
    color: white;
    font-weight: 500;
}
.change-life-inner p{
    font-size: 20px;
    padding-top: 5px 0 22px;
    color: white;
    font-weight: normal;
}
.change-life-inner .call-to-action{
    max-width: 148px;
    width: 100%;
    font-size: 18px;
}
/* change life css end */

/* benefits section css start */
.benefits{
    padding: 100px 0 70px 0;
    position: relative;
}
.benefits-col-left img{
    width: 100%;
}
.benefits-col-right ul{
    margin-left: 30px;
}
.benefits-col-right li{
    position: relative;
    padding-left: 90px;
    margin-bottom: 25px;
}
.benefits-col-right li span{
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 20px;
}
.benefits-col-right li h5{
    color: #F52200;
    font-size: 21px;
    font-weight: 500;
}
.benefits-col-right li p{
    color: #16488F;
    font-size: 15px;
    font-weight: 500;
}
.backpaw1{
    top: 25%;
    left: 10%;
    width: 60px;
    height: 60px;
    transform: rotate(-80deg);
}
.backpaw2{
    top: 20%;
    right: 10%;
    width: 50px;
    height: 50px;
}
.backpaw3{
    bottom: 10%;
    left: 15%;
    width: 100px;
    height: 100px;
}
.backpaw4{
    bottom: 10%;
    right: 15%;
    width: 80px;
    height: 80px;
    transform: rotate(-75deg);
}
/* benefits section css end */

/* requirement section css start */
.requirements{
    background:url("../images/requirement-bg2.png") no-repeat center center /cover,
    url("../images/requirement-bg1.svg") no-repeat center center /cover;
    min-height: 968px;
    position: relative;
    overflow-x: hidden;
    padding-top: 50px;
}
.requirements-inner > p{
    font-size: 26px;
    color: #16488F;
    font-weight: normal;
    position: relative;
    padding-left: 50px;
    margin-bottom: 40px;
}
.requirements-inner > p::before{
    position: absolute;
    content: '';
    background: url("../images/bone-red.svg")center center no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
}
.requirements-inner ul{
    margin-left: 60px;
}
.requirements-inner li{
    margin-bottom: 30px;
}
.requirements-inner li p{
    font-size: 24px;
    color: #16488F;
    font-weight: normal;
    position: relative;
    padding-left: 40px;
}
.requirements-inner li p::before{
    position: absolute;
    content: '';
    background: url("../images/bone-blue.svg")center center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
}
.requirements .back-paws,.faq_section .back-paws{
    -webkit-filter: brightness(69%) saturate(192%) sepia(100%) hue-rotate(143deg);
    filter: brightness(69%) saturate(192%) sepia(100%) hue-rotate(143deg);
    opacity: 0.2;
}
.backpaw5{
    top: 15%;
    left: 5%;
    width: 50px;
    height: 50px;
    transform: rotate(-80deg);
}
.backpaw6{
    top: 18%;
    right: 15%;
    width: 70px;
    height: 70px;
    transform: rotate(-80deg);
}
.backpaw7{
    bottom: 25%;
    left:-1%;
    width: 130px;
    height: 130px;
    transform: rotate(30deg);
}
/* requirement section css end */

/* legal-process css start */
.legal-process{
    padding-top: 61px;
}
.legal-prc-inner h3{
    text-align: center;
}
.legal-prc-inner ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 60px;
}
.process-item{
    position: relative;
    padding-right: 90px;
}
.process-item::after{
    position: absolute;
    content: '';
    top: 30%;
    transform: translateY(-30%);
    right: 0;
    background: url("../images/prc-arrow.svg")center center no-repeat;
    background-size: cover;
    width: 76px;
    height:12px;   
}
.process-item:last-child{
    padding-right: 0;
}
.process-item:last-child::after{
    display: none;
}
.process-wrap{
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}
.process-wrap p{
    font-size: 21px;
    color: #16488F;
    line-height: 32px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}
.item-img img{
    width: 100%;
}

/* legal-process css end */


/* pricing section css start */
.pricing{
    padding-top: 100px;
    position: relative;
}
.pricing h3{
    text-align: center;
    margin-bottom: 80px;
}
.pricing-outer{
    max-width: 347px;
    width: 100%;
    border-radius: 29px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #DFCFC1A5;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s all ease;
}
.pricezoom {
    transition: transform .2s;
    position: relative;
}
.pricezoom:hover {
    transform: scale(1.085);
    cursor: pointer;
}
.pricing-outer h4{
    padding: 23px 0;
    background-color: #004990;
    font-size: 23px;
    font-weight: normal;
    color: #fff;
    text-align: center;
}
.pricing-content{
     padding: 20px 30px 30px 34px;
}
.pricing-content > p{
    position: relative;
    font-size: 15px;
    color: #000000;
    line-height: 1.3;
    padding-left: 30px;
    margin-bottom: 20px;
}
.pricing-content > p::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: url("../images/bone-red.svg")center center no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}
.total-price{
    display: block;
    padding-bottom: 35px;
    border-bottom: 1px solid #D2D2D2;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.total-price .dist-price{
    font-size: 40px;
    font-family:"Poppins-Regular";
    color: #C9C9C9;
    text-decoration: line-through;
} 
.total-price .new-price{
    color: #4CBC4D;
    font-size: 22px;
    font-family:"Poppins-SemiBold";

}
.pricing-content .call-to-action{
    margin: 25px 0 20px;
    transform: translateX(19%);
}
.pop-banner{
    background:url("../images/pop-banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -27px;
    width: 80%;
    padding: 3px 10px;
    font-size: 14px;
    text-align: center;
    left: 19px;
    right: 0;
    margin: 0 auto;
    background-position: center;
    overflow: hidden;
    transition: 1s;
}
.pop-banner::before{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 90px;
    height: 100%;
    left: 0;
    top: 0;
    /* opacity: 0.5; */
    filter: blur(20px);
    /* transform: translateX(-100px) skewX(-15deg); */
    animation:slide-anim 1s all ease infinite;
}
.pop-banner::after{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    /* opacity: 0; */
    filter: blur(5px);
    /* transform: translateX(-100px) skewX(-15deg); */
    animation:slide-anim 1s all ease infinite;
}
@keyframes slide-anim{
    0%{
        transform: translateX(-100px) skewX(-15deg);
        opacity: 0;
    }
    100%{
        transform: translateX(300px) skewX(-15deg);
        opacity: 1;
    }
}
/* .pop-banner:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 1s;
}
.pop-banner:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 1s;
  } */
.backpaw9{
    bottom: 25%;
    left:8%;
    width: 90px;
    height: 90px;
    transform: rotate(-120deg);
}
/* pricing section css end */

/*testmonial css start*/
.testmonial{
    background: url("../images/testmonial-bg.svg") center center no-repeat;
    background-size: cover;
    margin-top: 150px;
    padding-top: 150px;
    min-height: 792px;
    position: relative;
}
.testmonial-outer{
    /* width: 730px; */
    background-color: #fff;
    padding: 32px;
    box-shadow: 0px 0px 35px #0000000F;
    border-radius: 10px;
}
.testmonial-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
}
  .testmonial-main {
    width: 967px;
  }
  .testmonial-inner .swiper-container{
      position: unset;
  }
  .testmonial-main .swiper-button-prev, .testmonial-main .swiper-button-next ,.testmonial-main .test-btn-txt{
    position: absolute;
    right: 10px;
    left: auto;
    width: 40px;
    color: #16488F;
    top: unset;
  }
  .testmonial-main .test-btn-txt{
      transform: rotate(90deg);
      bottom: 12%;
      font-weight: bold;
  }
  .testmonial-main .swiper-button-prev::after, .testmonial-main .swiper-button-next::after {
    display: none;
  }
  .testmonial-main .swiper-button-prev {
    bottom: 20%;  
  }
  .testmonial-main .swiper-button-next{
    bottom: 0%;
  }
  .test-slide-inner{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .testmonial-img {
        width: 362px;
  }
  .testmonial-img img{
      width: 100%;
  }
  .testmonial-content{
      padding-left: 50px;
      width: calc(100% - 362px);
  }
  .testmonial-content h5{
      font-size: 28px;
      font-weight: bold;
      color: #16488F;
  }
  .testmonial-content small{
      font-size: 17px;
      font-weight: normal;
      color: #16488F;
  }
  .testmonial-content p{
      font-size: 20px;
      line-height: 1.3;
      color: #16488F;
      font-weight: 500;
      padding: 30px 0;
      margin: 0;
  }
  .testmonial-content i{
      color: #efc319;
  }
  .swiper-slide-active .testmonial-img {
    -webkit-animation: slide-in 0.3s ease-in both;
            animation: slide-in 0.3s ease-in both;
  }
  .test-thumb-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  .testmonial-thumbs {
    order: -1;
    width: 69px;
    height: 210px;
    padding-left: 15px;
    padding-top: 25px;
    transition: 0.3s all ease;
  }
.testmonial-thumbs .swiper-slide.swiper-slide-visible{
    display: flex;
    align-items: center;
}
  .testmonial-thumbs .swiper-slide img {
    transition: 0.3s;
    object-fit: contain;
  }
  .testmonial-thumbs .swiper-slide-active {
    opacity: 0.9;
  }
  .testmonial-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }
  .testmonial-thumbs .swiper-slide-thumb-active .test-thumb-img {
    transform: scale(1.5);
    transition: 0.3s all ease;
  }
  .backpaw10{
        top: 0%;
        left:3%;
        width: 130px;
        height: 130px;
        transform: rotate(80deg);
  }
  /* @-webkit-keyframes slide-in {
    from {
      opacity: 0;
      right: -50%;
    }
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      right: -50%;
    }
  } */

/*testmonial css end*/


/* faq section css start */
.faq_section{
    padding-top: 80px;
    position: relative;
}
.faq_section .tab-heading {
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin: 40px 0;
    text-align: center;
}
.faq_section .tabs-outer {
    position: relative;
}
.faq_section .tabs-area-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row-reverse;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.faq_section .tabs-area-left {
    -ms-flex-preferred-size: 57%;
    flex-basis: 65%;
    position: relative;
    padding-bottom: 50px;
}
.tab-img{
    position: absolute;
    right: -14%;
    bottom: 0;
}
.tab-img img{
    width: 100%;
}
.faq_section .tabs-area-right {
    -ms-flex-preferred-size: 43%;
    flex-basis: 35%;
    display: -ms-flexbox;
    display: flex;
    padding-top: 15px;
    padding-bottom: 21px;
}
.faq_section .tabs-right-nav {
    max-width: 380px;
    width: 100%;
    padding-left: 35px;
    height: 385px;
    overflow-y: scroll;
    position: relative;
    padding-left: 20px;
}
.faq_section .tabs-right-nav::-webkit-scrollbar{
    display: none;
}
.nav-pills>li a.active.ques_tabs:after, .tabs-area-right .ques_tabs:after, .tabs-area-right .ques_tabs:before, .tabs-area-right .ques_tabs:hover:after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 6px;
}
.tabs-area-right .ques_tabs:before {
    background-color: #16488F1A;
}
.tabs-area-right .ques_tabs:after {
    top: -100%;
    background-color: #357CC1;
    z-index: 1;
    transition: top .7s ease-in-out;
}
.nav-pills>li a.active.ques_tabs:after, .tabs-area-right .ques_tabs:hover:after{
    top: 0;
    background-color: #357CC1;
    z-index: 2;
}
.tabs-left-inner{
    padding: 15px 32px;
    max-width: 520px;
    width: 100%;
    background:url("../images/tabs-img.svg") center center no-repeat ;
    background-size: cover;
    border-radius: 20px;
}
.tabs-left-content{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 5%;
    color: #fff;
}
.tab-content-main{
    height: 393px;
    overflow-y: scroll;
    margin-right: 40px;
    margin-top: 15px;
    max-width: 400px;
    width: 100%;
    padding-right: 15px;
}
.tab-content-main::-webkit-scrollbar {
    width: 5px;
    max-height: 5px;
}
.tab-content-main::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.tab-content-main::-webkit-scrollbar-thumb {
    background: #357CC1;
    border-radius: 4px;
}
.tab-content-main::-webkit-scrollbar-thumb:hover {
    background: #357CC1;
}
.tabs-area-right .ques_tabs{
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 5px 0 5px 24px;
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    transition: color .7s ease-in-out;
    position:relative;
    overflow: hidden;
}
.tabs-area-right .nav-pills li{
    margin-bottom: 0px;
}
.tabs-area-right .nav-pills>li>a.active,
.tabs-area-right .nav-pills>li>a.active:hover,
.tabs-area-right .nav-pills>li.active>a:focus,
.tabs-area-right .ques_tabs:hover{
    color: #357CC1;
    background-color:transparent;
}
.tabs-left-content h2{
    font-size: 22px;
    font-weight: normal;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 10px;
}
.backpaw11{
    top: 10%;
    left: 5%;
    width: 100px;
    height: 100px;
    transform: rotate(-75deg);
}
.backpaw12{
    bottom: 10%;
    left: 10%;
    width: 80px;
    height: 80px;
}
.backpaw13{
    top: 25%;
    right: 5%;
    width: 95px;
    height: 95px;
}
.backpaw14{
    bottom: 5%;
    right: 10%;
    width: 50px;
    height: 50px;
    transform: rotate(80deg);
}
/* faq section css end */

/* sample section css start */
.sample-section{
    position: relative;
    z-index: 5;
    padding-top: 100px;
}
.sample-section::after{
    position: absolute;
    content: '';
    background: url("../images/sample-bg.svg")no-repeat bottom center /cover;
    width: 100%;
    height: 659px;
    bottom: -17%;
    left: 0;
    z-index: -1;
}
.sample-section-inner ul{
    background: url("../images/sample-ul.svg") bottom center no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sample-section-inner ul li{
    font-size: 29px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57px;
    height: 49px;
    position: relative;
    bottom: 20px;
}
.sample-section-inner ul li:first-child{
    background: url(../images/sample-1.svg)center center no-repeat;
    background-size: cover;
    left: 14%;
}
.sample-section-inner ul li:nth-child(2){
    background: url(../images/sample-2.svg)center center no-repeat;
    background-size: cover;
}
.sample-section-inner ul li:last-child{
    background: url(../images/sample-3.svg)center center no-repeat;
    background-size: cover;
    right: 14%;
}
.sample-items{
    box-shadow: 0px 0px 15px #00000029;
    border-radius: 13px;
    padding: 26px 31px;
    background-color: #fff;
    text-align: center;
    max-width: 304px;
    width: 100%;
}
.sample-items h5{
    color: #16488F;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 2px solid #F52200;
    margin-bottom: 25px;
}
.sample-items img{
    width: 104px;
    height: 111px;
    object-fit: contain;
}
.sample-item-cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.sample-item-cta a{
    border: 2px solid #16488F;
    border-radius: 5px;
    padding: 8px;
    display: inline-block;
    font-size: 15px;
    color: #16488F;
    font-weight: 500;
}
.apply-complaint{
    padding-top: 180px;
}
.apply-complaint p{
    font-size: 31px;
    color: #16488F;
    font-weight: 500;
    padding-bottom: 20px;
}
.backpaw15{
    top: 10%;
    left: 8%;
    width: 100px;
    height: 100px;
}
.backpaw16{
    bottom: 29%;
    right: 8%;
    width: 110px;
    height: 110px;
    transform: rotate(-80deg);
}
/* sample section css end */

/* min width query */
@media (min-width:1200px){
    .letter-apply .container{
        padding:0 ;
    }
}


/* media queries start  */
@media (max-width:1366px){
    /* faq css start */
    .tab-img {
        right: -5%;
        width: 40%;
    }
    /* faq css end */
}
@media(max-width:1199px){
    
    /* letter apply css start */
    .letter-apply-col{
        max-width: 420px;
    }
    .apply-col-img{
        width: 90%;
        top: -298px;
    }
    .apply-col-img img{
        width: 100%;
    }
    .apply-col-content h3{
        font-size: 22px;
    }
    /* letter apply css end */

    /* requirement css start */
    .requirements{
        min-height: 830px;
    }
    .requirements-inner > p{
        font-size: 23px;
    }
    .requirements-inner li p{
        font-size: 22px;
    }
    /* requirement css end */
    /* price css start */
    .pricing-outer{
        max-width: 300px;
    }
    .total-price .dist-price{
        font-size: 28px;
    }
    .pricing-content .call-to-action {
        margin: 18px 0 20px;
        transform: translateX(9%);
    }
    /* price css end */
    /* testmonial css start */
    .testmonial-img {
        width: 300px;
    }
    .testmonial-content {
        width: calc(100% - 300px);
    }
    .testmonial-content p{
        font-size: 18px;
        padding: 20px 0;
    }
    .testmonial-thumbs{
        padding-top: 0;
    }
    .testmonial-main .swiper-button-prev {
        bottom: 10%;
    }
    .testmonial-main .test-btn-txt {
        bottom: 1%;
    }
    .testmonial-main .swiper-button-next {
        bottom: -14%;
    }
    .testmonial-main .swiper-button-prev, .testmonial-main .swiper-button-next, .testmonial-main .test-btn-txt{
        right: 0;
    }
    /* testmonial css end */
    /* faq css start */
    .tab-img {
        right: -26px;
        width: 30%;
    }
    /* faq css end */
    /* sample css start */
    .sample-items h5{
        font-size: 20px;
    }
    /* sample css end */
}
@media (max-width:991px){
     /* letter apply css start */
     .letter-apply-col {
        max-width: 320px;
        min-height: 604px;
        padding: 35px 0px;
    }
    .apply-col-content h3 {
        font-size: 18px;
        padding: 10px 10px;
    }
    .apply-col-content p {
        font-size: 16px;
        line-height: 28px;
        padding: 30px 16px;
    }
    .apply-col-img {
        top: -214px;
    }
     /* letter apply css end */
     .change-life-inner h3 {
        font-size: 27px;
    }
    .process-item {
        padding-right: 55px;
    }
    .item-img {
        width: 80%;
        margin: 0 auto;
    }
    .process-wrap p {
        font-size: 16px;
        line-height: 22px;
    }
    .process-item::after {
        background-size: contain;
        width: 59px;
    }
    .pricezoom:last-child .pricing-outer{
        max-width: 100%;
        margin-top: 50px;
    }
    .pop-banner{
        top: 23px;
    }
    .benefits-inner h3, .requirements-inner h3, .legal-prc-inner h3, .pricing h3, .testmonial h3, .faq_section h3, .sample-section h3{
        font-size: 33px;
    }
    .testmonial-content {
        width: calc(100% - 160px);
    }
    .testmonial-img {
        width: 160px;
    }
    .testmonial-content p {
        font-size: 16px;
    }
    .tab-img{
        display: none;
    }
    .sample-items{
        padding: 26px 21px;
    }
    .sample-item-cta a{
        font-size: 11px;
    }
    .sample-items h5 {
        font-size: 17px;
    }
    .apply-complaint p{
        font-size: 25px;
    }
    .apply-complaint {
        padding-top: 100px;
    }

}
@media (max-width:767px){
    .letter-apply{
        background: none;
        margin: 0;
    }
    .letter-apply-col{
        max-width: 100%;
        margin-bottom: 228px;
        min-height: 367px;
        position: relative;
    }
    .letter-apply-col::before{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: url("../images/letter-apply-bg.svg") center center no-repeat;
        background-size: cover;
        width: 554px;
        height: 225px;
        z-index: -1;
    }
    .apply-col-img{
        width: 324px;
        top: -224px;
    }
    .apply-col-content {
        margin-top: -173px;
        min-height: 297px;
    }
    .change-life-inner p{
        display: none;
    }
    .change-life-inner h3 {
        font-size: 17px;
    }
    .change-life{
        position: relative;
        margin: 0;
        background-size: 100%;
    }
    .change-life::after {
        position: absolute;
        content: '';
        background-color: #16488f;
        bottom: 63px;
        left: 0;
        right: 0;
        width: 100%;
        height: 65px;
        z-index: -1;
    }
    .change-life-inner .call-to-action {
        max-width: 105px;
        font-size: 13px;
        padding: 5px;
    }
    .benefits{
        padding-top: 0;
    }
    .benefits-col-right {
        position: relative;
    }
    .benefits-col-right::before{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        background: url("../images/benefits-bg.png") center center no-repeat;
        background-size: cover;
        width: 278px;
        height: 257px;
    }
    .benefits-col-right ul{
        margin: 0;
    }
    .benefits-col-right li h5{
        font-size: 17px;
    }
    .requirements-inner > p {
        font-size: 19px;
    }
    .requirements-inner li p {
        font-size: 18px;
    }
    .requirements{
        background: url(../images/requirement-bg1.svg) no-repeat center bottom;
        min-height: unset;
        background-size: 100%;
        padding-bottom: 60px;
    
    }
    .backpaw7 {
        bottom: 39%;
        width: 80px;
        height: 80px;
    }
    .legal-prc-inner ul{
        flex-wrap: wrap;
        padding-top: 0;
    }
    .process-item {
        padding-right: 0;
        width: 100%;
        padding-bottom: 80px;
    }
    .process-item::after {
        background-size: contain;
        width: 59px;
        bottom: 40px;
        top: unset;
        transform: rotate(90deg);
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .benefits-inner h3, .requirements-inner h3, .legal-prc-inner h3, .pricing h3, .testmonial h3, .faq_section h3, .sample-section h3{
        font-size: 27px;
    }
    .process-item:last-child{
        padding-bottom: 0;
    }
    .faq_section .tabs-area-inner{
        flex-direction: column-reverse;
    }
    .faq_section .tabs-area-left{
        flex-basis: 100%;
    }
    .faq_section .tabs-area-right{
       flex-basis: 100%;
    }
    .testmonial-thumbs{
        display: none;
    }
    .testmonial-outer{
        padding: 20px;
    }
    .test-slide-inner{
        display: unset;
    }
    .testmonial-img{
        display: inline-block;
        float: right;
    }
    .testmonial-content{
        padding: 0;
        width: 100%;
    }
    .testmonial-main .swiper-button-prev, .testmonial-main .swiper-button-next{
        width: 20px;
    }
    .testmonial-main .test-btn-txt{
        width: auto;
    }
    .testmonial-main .swiper-button-prev {
        bottom: -10px;
        transform: rotate(-90deg);
        right: 130px;
    }
    .testmonial-main .test-btn-txt {
        bottom: 0px;
        right: 80px;
        transform: unset
    }
    .testmonial-main .swiper-button-next {
        bottom: -10px;
        transform: rotate( -90deg);
        right: 44px;
    }
    .star-group {
        display: inline-block;
    }
    .testmonial {
        background-size: 100%;
        padding-top: 0;
        min-height: unset;
    }
}
@media (max-width:575px){
    .letter-apply-col {
        max-width: 90%;
        min-height: 350px;
        margin: 0 auto 228px;
    }
    .apply-col-img {
        width: 280px;
    }
    .letter-apply-col::before{
        width: 370px;
    }
    .apply-col-content p {
        font-size: 13px;
        line-height: 23px;
    }
    .change-life::after{
        bottom: 81px;
    }
    .benefits-col-right li p{
        font-size: 12px;
    }
    .requirements{
        padding-top: 0;
    }
    .requirements-inner > p {
        font-size: 15px;
    }
    .requirements-inner li p {
        font-size: 14px;
    }
    .benefits-inner h3, .requirements-inner h3, .legal-prc-inner h3, .pricing h3, .testmonial h3, .faq_section h3, .sample-section h3{
        font-size: 20px;
    }
    .testmonial{
        margin-top: 0;
    }
    .social-icons a svg {
        width: 30px;
        height: 30px;
    }
    .tabs-area-right .ques_tabs{
        font-size: 12px;
    }
    .tabs-left-content h2{
        font-size: 16px;
    }
    .testmonial-content p {
        font-size: 12px;
        padding: 10px 0;
    }
    .testmonial-content h5{
        font-size: 24px;
    }
    .testmonial-content small{
        font-size: 15px;
    }
}
@media (max-width:375px){
    .letter-apply{
        padding-top: 189px;
    }
    .letter-apply-col::before {
        width: 320px;
    }
    .apply-col-img {
        width: 244px;
        top: -184px;
    }
    .letter-apply-col{
        width: 100%;
        min-height: unset;
    }
    .apply-col-content p{
        font-size: 11px;
        padding-bottom: 0;
    }
    .apply-col-content .call-to-action{
        font-size: 14px;
        padding: 8px 0;
        max-width: 157px;
    }
    .change-life::after {
        bottom: 86px;
    }
    .change-life-inner h3 {
        font-size: 14px;
    }
    .tabs-left-inner{
        padding: 15px 18px;
    }
    
}
/* media queries end  */
