.overlay-div{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all 0.2s ease;
}
.overlay-div.show1{
    opacity: 1;
    visibility:visible;
}
.fixpage{
    overflow: hidden;
}
/* top nav css start */
.navbar-top{
    background-color: #fff;
    padding: 6px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.navtop-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navtop-inner .brand-name{
    max-width:40%;
    width: 100%;
}
.brand-name a{
    display: inline-block;
}
.brand-name a img{
    width:119px;
    height: 80px;
    object-fit: contain;
}
.top-nav-item{
    max-width: 60%;
    width: 100%;
}
.top-nav-item ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.top-nav-item li{
    margin: 0 8px;
}
.top-nav-item li p,.top-nav-item li a{
    color: #16488F;
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}
.top-nav-item li a{
    border: 2px solid #16488F;
    border-radius: 3px;
    display: inline-block;
    padding: 12px 9px;
    transition: 0.4s all ease;
}
.top-nav-item li a:hover{
    color: white;
    background-color: #F52200;
    border-color: #F52200;
}
/* top nav css end */

/* main nav css start */
.navbar{
    padding:0;
}
.af-navbar{
    background-color: #16488F;
    padding: 23px 0 12px 0;
    position: sticky;
    top: 92px;
    left: 0;
    box-shadow: 5px 5px 12px #00000021;
    z-index: 10;
}
.nav_items{
    margin-right: 22px;
}
.nav_items:nth-child(10){
    margin-right: 0;
}
.nav_items a{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
    position: relative;
    transition: 0.3s all ease;
    padding-bottom: 10px;
}
.nav_items a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 2px;
    transition: 0.3s all ease;
}
.nav_items a:hover:after {
    width: 100%;
}
.login-signup{
    display: none;
}

/* ANIMATED X */
.navbar-toggler .icon-bar {
	width: 22px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
    display: block;
    height: 3px;
    margin-bottom: 3px;
    background-color: #16488F;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggler.x.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggler.x.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */
/* main nav css end */

/* media query */

@media (min-width:992px){
    .af-navbar .brand-name{
        display: none;
    }
}

@media(max-width:1199px){
    .top-nav-item li{
        margin: 0 5px;
    }
    .top-nav-item li:last-child{
        margin: 0;
    }
    .top-nav-item li p, .top-nav-item li a{
        font-size: 14px;
    }
    .nav_items {
        margin-right: 15px;
    }
    .nav_items a {
        font-size: 14px;
    }
    .af-navbar{
        top: 92px;
    }
}

@media (max-width:991px){
    .brand-name a img{
        width: 114px;
    }
    .navbar-top .brand-name{
        display: none;
    }
    .navbar-top{
        background-color: #16488F;
    }
    .top-nav-item li p,.top-nav-item li a{
        color: #fff;
    }
    .af-navbar{
        background-color: #fff;
    }
    .top-nav-item li a{
        border: 2px solid #fff;
    }
    .top-nav-item {
        max-width: 100%;
        padding: 8px 0;
    }
    .af-navbar {
        top: 75px;
        padding: 0;
    }
    .nav_items a{
        color: rgb(22, 72, 143);
    }
    .navbar-light .navbar-toggler{
        border: none;
    }
    .af-navbar .navbar-collapse{
        position: fixed;
        height: 100vh;
        top: 0;
        background: #fff;
        left: -330px;
        padding: 30px;
        transition: 0.3s all ease;
        width: 320px;
    }
    .af-navbar .navbar-collapse.show{
        left: 0;
        transition: 0.3s all ease;
    }
    .nav_items {
        margin: 10px 0;
        border-bottom: 1px solid rgba(22, 72, 143,0.3);
    }
}
@media (max-width:767px){
    .login-signup{
        display: block;
    }
    .top-nav-item li a{
        display: none;
    }
    .af-navbar {
        top: 47px;
        padding: 0;
    }
    .top-nav-item ul{
        justify-content: center;
    }
}
@media (max-width:575px){
    .top-nav-item li p, .top-nav-item li a{
        font-size: 12px;
    }
    .af-navbar{
        top: 43px;
    }
}
@media (max-width:375px){
    .brand-name a img{
        width: 110px;
    }
    .af-navbar .navbar-collapse{
        padding: 25px;
        width: 250px;
        overflow: scroll;
    }
    
}