@font-face {
    font-family: 'Google Sans';
    src: url('fonts/GoogleSans-Bold.woff2') format('woff2'),
        url('fonts/GoogleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('fonts/GoogleSans-Medium.woff2') format('woff2'),
        url('fonts/GoogleSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('fonts/GoogleSans-Regular.woff2') format('woff2'),
        url('fonts/GoogleSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    src:url('fonts/Poppins-Regular.otf');
    font-family:"Poppins-Regular";
}
@font-face{
    src:url('fonts/Poppins-SemiBold.otf');
    font-family:"Poppins-SemiBold";
}
*,body{
    font-family: 'Google Sans';
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none !important;
}
ul li{
    list-style: none;
}
:focus{
    outline: none !important;
    box-shadow: none  !important;
    border-color: inherit !important;
}